<ion-content class="reporte-content" [fullscreen]="true">
  <div class="form-container">
    <h2>Nuevo Avistamiento</h2>

    <form [formGroup]="reporteForm" (ngSubmit)="guardarReporte()">
      <ion-item>
        <ion-label position="floating">Título de la especie</ion-label>
        <ion-input formControlName="titulo" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha del reporte</ion-label>
        <ion-input formControlName="fecha" type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select formControlName="estado">
          <ion-select-option value="Crítico">Crítico</ion-select-option>
          <ion-select-option value="Peligro">Peligro</ion-select-option>
          <ion-select-option value="Estable">Estable</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="reporteForm.invalid">
        Guardar reporte
      </ion-button>
    </form>
  </div>
</ion-content>